<div class="vCenter hCenter">
<h1>Words of Wisdom by {{name}}</h1>
<p class="quote">&#10031;&#10031; {{fortune}} &#10031;&#10031;</p>
<h2>（ ´_⊃｀）</h2>


<form action="/new" method="post">
    <input id="box" type="text" name="newFortune">
    <br />
    <input type="submit" value="Submit">
<!--    <button>Submit</button> (same thing as submit input type)-->
    
</form>

</div>